footer.footer 
    .footer__logo
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav 
        li: a(href='#') #{t('about_us')}
        li: a(href='#') #{t('download_apps')}
        li: a(href='#') #{t('become_guide')}
        li: a(href='#') #{t('careers')}
        li: a(href='#') #{t('contact')}
    p.footer_copyright &copy; by Jonas Schmedtmann. Feel free to use this project for your own purposes, EXCEPT producing your own course or tutorials 
