extends ../_content

mixin inputWithLabel(labelText, inputId, inputName, inputType)
    .filter-form__box
        label(for=inputId)= labelText
        input(type=inputType, id=inputId, name=inputName)

mixin selectWithLabel(labelText, selectName, options)
    .filter-form__box
        label(for=selectId)= labelText
        select.filter-select(name=selectName, data-placeholder=labelText)
            option
            each option in options
                option(value=option.value)= option.text

mixin rangeSliderField(labelText, inputIdPrefix)
  .range-sliders__box
    label= labelText
  - var inputId = `range-sliders__${inputIdPrefix}`
  .range-slider(class=inputId)
    input(id=inputIdPrefix + '-gte', name=inputIdPrefix + '-gte', type='hidden')
    input(id=inputIdPrefix + '-lte', name=inputIdPrefix + '-lte', type='hidden')

block content
    .dashboard
        .dashboard__header
            h1.heading-1 Sliders
            .header-button
        .dashboard__filter
            form.filter-form(onsubmit="return false")
                //- label, id, name, type
                +inputWithLabel("Name", "name", "name", "text")
                //- label, name, options
                +selectWithLabel("Status", "active", [
                    { value: "true", text: "Active" },
                    { value: "false", text: "Passive" }
                ])
                .filter-form__clear
                    button.filter-clear Clear
                .filter-form__search 
                    button.filter-search Search
    .dashboard__list
        //- data-table === ${table} => `http://127.0.0.1:3000/api/v1/${table}?fields=${fields}` 
        table#dataTable(data-table='sliders')
            thead
                tr
                    th ID
                    th(data-name='imageOriginal') Image
                    th(data-name='name') Name
                    th(data-name='description') Description
                    th(data-name='active') Status
                    th Actions
        tbody
